.hours_grid {
    box-sizing: border-box;
    position: relative;
    width: 10%;
    padding-left: 83ch;
    flex: 0 0 75%;
    max-width: 70%;
    display: block;
    padding-top: 40px;
}

.table_hours {
    width: 400px;
    height: 500px; 
}
    
.opening_hours{
    background-color: white;
    color: rgb(92, 86, 167); 
    font-size: 3ch;
    display: block;
    padding-right: 19ch;
    padding-left: 509px;
    padding-top: -5ch;
}

.td_hours {
    text-align: center;
    padding-inline:initial;
    font-size: 3ch;
    width: 25vw;
    padding-top: 0ch;
}

.info_hours {
    display: flex;
    justify-content: space-between;
    display: block;
    padding-top: 55px;
    padding-bottom: 35px;
    padding-left: 500px;
    padding-right: 300px;
    font-size: 2ch;
    text-align: left;
  
}
.dot_border  {
  background-image: url(/src/assets/dotborder.png); 
  background-repeat: repeat-x; 
  height: 144px;
  width:100%; 
  height:40px;

}