.topnav {
  position: fixed;     
  height: 100%;
  width: 270px;     
  z-index: 1;   
  top: 0em;     
  background-color: rgb(187, 111, 111); 
  padding-top: 15px;
  border: 2px solid rgba(0, 0, 0, 0.123);

}
.call_nav {
  display: block;
  padding: 20px 30px;
  text-decoration: none; 
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
}

.topnav a {
  display: block;
  padding: 2px 2px;
  text-decoration: none;
  margin-top: 40px; 
  color: #f2f2f2;
  text-align: center;
  font-size: 19px;
  border: 2px solid rgb(255, 255, 255);
  padding-bottom: 1ch;
}

.sale_nav {
  position: box; 
  margin-top: 40px;  
  padding: 4px 4px;           
  text-align: center;  
  background-color: rgb(148, 86, 143); 
  color: #ff0000;
  border: 2px solid rgb(255, 0, 0);
  padding-bottom: 1ch;
}

.topnav a:hover {
  text-decoration: underline; 
  text-decoration-color: #f2f2f2;
}

